@font-face {
    font-family: 'Poppins-Medium';
    src: url('../fonts/Poppins-Medium.ttf') format('truetype');
    /* Thay đổi FontFileName thành tên file font chữ của bạn */
    font-weight: normal;
    font-style: normal;
  }